################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/WinLib/.vs/
/WinLib/x64/
/WinLib/WinLib/x64
/WinLib/Debug
/WinLib/Tester/x64
/WinLib/WinLibKernel/x64/Release
