################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/WinLib/.vs/WinLib/v15/Browse.VC.opendb
